nav{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.9);
    position: fixed;
}
#menulist{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
.menu{
    padding: 25px;
    font-size: 25px;
    font-family: monospace;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:black;
    font-family:verdana;
}
.menu:hover{
background-color: rgba(145, 145, 145, 0.7);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
  border-radius: 8px;
  color: white
}
a:hover{
    color: white;
}
#logopic{
    height: inherit;
    width: 200px;
}
#slider{
   width: 100%;
   max-height: 1000px;
}
.caption{
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: rgba(239, 239, 239, 0.5);
    font-size: 30px;
    padding-top: 100px;
}
#thailand{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    min-width: 30%;
    width: inherit;
    height: 350px;
    margin: 0 15px 0 15px;
}
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#siteDescription{
    font-size: 20px;
    font-family: Helvetica;
}

#patbingsu{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
   
}
#patbingsuPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin-left: 15px;
}
#birizza{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
}
#birizzaPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin-left: 15px;
}
#tarts{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
}
#tartsPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin-left: 15px;  
}
.aboutDish{
    padding-right: 60px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    /*border-bottom: 2px solid;
    border-bottom-color: #99c0ff;
    border-top: 2px solid;
    border-top-color:#99c0ff;*/
}
#button{
    background-color: white;
    display: flex;
    justify-content:center;
}
.site-logos{
    width: 125px;
    height: auto;
}
#contact-info{
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
}
#facebook{
    flex-direction: column;
    
}
@media screen and (max-width: 720px){
nav{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
}
.description{
    flex-direction:column;
}
#patbingsu{
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}   
.aboutDish{
    margin-left: 40px;
    align-items: center;
}
#birizza{
    margin-top: 20px;
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}
#tarts{
    margin-top: 20px;
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}
.menu{
    font-size: 15px;
    padding: 10px;
    align-items: center;
}
#logopic{
    display: none;
}
}