body{
    max-width: 1200px;
}
nav{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.9);
    position: fixed;
}
#menulist{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
.menu{
    padding: 25px;
    font-size: 25px;
    font-family: monospace;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:black;
    font-family:verdana;
}
.menu:hover{
background-color: rgba(145, 145, 145, 0.7);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
  border-radius: 8px;
  color: white
}
a:hover{
    color: white;
}
#logopic{
    height: inherit;
    width: 200px;
}
#slider{
   width: 100%;
   height: auto;
   margin-top: 72px;
}
.caption{
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 30px;
    padding-top: 100px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.topleft {
    position: absolute;
    top: 200px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: rgba(239, 239, 239, 0.6);
    color: black;
}
#sizesmall{
    display: none;
}

#thailand { 
    width: 100%;
    height: auto;
    opacity: 0.8;
    
}
table, td, th{
    border-collapse: collapse;
    border: none;
}
th{
    height: 81px;
}
th, td{
     border-bottom: 1px solid #ddd;
}
.rows:nth-child(odd) {background-color: #f2f2f2}
img{
    width: 250px;
    height: 250px;
}
table{
    width: 100%;
}

/*
#populardishes{
    width: 100%;
}
#patbingsu{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
   
}
#patbingsuPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin: 0 auto;
}
#birizza{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
}
#birizzaPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin:0 auto;
}
#tarts{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
}
#tartsPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin: 0 auto;
}
.aboutDish{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    /*border-bottom: 2px solid;
    border-bottom-color: #99c0ff;
    border-top: 2px solid;
    border-top-color:#99c0ff;*/

#viewmore{
    margin: 0 auto;
    padding: 10px;
}
#button{
    background-color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}
.logos{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    background-color: rgba(239, 239, 239, 0.9);
}
.logos img{
    float: left;
    height: auto;
    width: 110px;
    margin: 25px;
}
.logos li{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    align-items:center;
    flex-direction:column;
}
#text{
    margin-top: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    
}
form input{
    justify-content: space-between;
}
footer{
    bottom: 0;
    width: 100%;
}

.footer {
    padding-top: 25px;
    margin: 0 auto;
    text-align:center;
}
@media screen and (max-width: 722px){
nav{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
}
#slider{
    margin-top: 95px;
}
.container{
    display: none;
}
#sizesmall{
    display: flex;
    flex-direction:column;
    align-items:center;
   
}
#sizesmall p{
    text-align: center;
    font-size: 25px;
     order: 1;
}
#patbingsu{
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}   
.aboutDish{
    margin-left: 40px;
    align-items: center;
}
#birizza{
    margin-top: 20px;
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}
#tarts{
    margin-top: 20px;
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}
.menu{
    font-size: 15px;
    padding: 10px;
    align-items: center;
}
#slider{
   width: 100%;
   max-height: 1200px;
}
#logopic{
    display: none;
}
.logos{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    
}
.logos img{
    width: 210px;
    margin: 15px;
}
#text{
    display: none;
}
}
/*
@media screen and (min-width: 757px){
    .description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 577px){
    #slider{
        margin-top:42px;
    }
}
@media screen and (max-width: 311px){
    #slider{
        margin-top:65px;
    }
    #thailand{
        display: none;
}
@media screen and (max-width: 450px) {
    .aboutDish {
        flex-basis: 100%;
    }
}
*/