body{
    max-width: 1200px;
}
nav{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.9);
    position: fixed;
}
#menulist{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
.menu{
    padding: 25px;
    font-size: 25px;
    font-family: monospace;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:black;
    font-family:verdana;
}
.menu:hover{
background-color: rgba(145, 145, 145, 0.7);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
  border-radius: 8px;
  color: white
}
a:hover{
    color: white;
}
#logopic{
    height: inherit;
    width: 200px;
}
#slider{
   width: 100%;
   max-height: 1000px;
   margin-top: 75px;
}
.caption{
    padding: 20px 0 20px 0;
    text-align: center;
    font-size: 30px;
    padding: 100px 0 100px 0;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#thailand{
    display: flex;
    justify-content:flex-end;
}
#siteDescription{
    font-size: 20px;
    font-family: Helvetica;
    margin-left: 20px;
}
#populardishes{
    max-width: 1000px;
}
#patbingsu{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
   
}
#patbingsuPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin: 0 auto;
}
#birizza{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
}
#birizzaPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin:0 auto;
}
#tarts{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding-bottom: 20px;
}
#tartsPic{
    align-items: flex-start;
    justify-content:flex-start;
    width:250px;
    height: 250px;
    margin: 0 auto;
}
.aboutDish{
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    /*border-bottom: 2px solid;
    border-bottom-color: #99c0ff;
    border-top: 2px solid;
    border-top-color:#99c0ff;*/
}
#viewmore{
    margin: 0 auto;
    padding: 10px;
}
#button{
    background-color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}
#logos{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
#logos img{
    float: left;
    width: 110px;
}
#logos li{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    align-items:center;
    flex-direction:column;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    
}
form input{
    justify-content: space-between;
}
footer{
    bottom: 0;
    width: 100%;
}

.footer {
    padding-top: 25px;
    margin: 0 auto;
    text-align:center;
}
@media screen and (max-width: 720px){
nav{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
}
.description{
    flex-direction:column;
}
#siteDescription{
    margin: 0 auto;
}
#patbingsu{
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}   
.aboutDish{
    margin-left: 40px;
    align-items: center;
}
#birizza{
    margin-top: 20px;
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}
#tarts{
    margin-top: 20px;
    align-items: center;
    flex-direction:column;
    border-bottom: 1px solid;
    border-bottom-color: #4286f4;
}
.menu{
    font-size: 15px;
    padding: 10px;
    align-items: center;
}
#slider{
   width: 100%;
   max-height: 1200px;
}
#logopic{
    display: none;
}
}
@media screen and (max-width: 450px) {
    .aboutDish {
        flex-basis: 100%;
    }
}
